
/*INICIO DESTINOS MÁS VISITADOS*/

.row{
    display: flex;
}

.masVisitadosHome{
    width: 85%;
}

 /*IMAGENES CRECEN*/   
.masVisitadosHome img:hover    
    {-webkit-transform:scale(1.3);transform:scale(1.3);}

    


.destinosHome{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.destinosHome article{
    width: 33.33%;
}

.destinosHome figure{
    width: 100%;
    margin: 6px;
    border: 2px solid #f0f0fe;
    border-radius: 7px;
    box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.05);
    padding: 4px;
    
}

.destinosHome img{
    width: 100%;
}

.publicidad{
    width: 15%;
}

.publicidad h3{
    margin: 1.2rem;
}

.anuncios{
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.videoAnuncios{
    width: 100%;
}

/*INICIO NOTICIAS IMPORTANTES*/
/*USANDO CRID */

.seccionDatosImportantes{
    margin-bottom: 2.3rem;
    background-color: rgba(247, 246, 244, 0.74);
}

.datosImportantes{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: auto 
}

.principal{
    margin: 8px;
}

.principal article{
    height: 100%;
}

.principal figure{
    height: 100%;
}

.principal figure img{
    height: 100%;
    object-fit: cover;
    
}


/*CON BEM*/
.articulo{
    position: relative;
    
}

.articulo img{
    width: 100%;
}

.articulo__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.subtitulo {
    color: white;    
    position: relative;
    margin: 12px;
    text-align: left;
    
  }

.subtitulo--grande{
    font-size: 2.2rem;

}  

.subtitulo--mediano{
    font-size: 1.8rem;

}


  .subtitulo::after {
    content: "";
    width: 15%;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: -14px;
    background: white;
    border-radius: 10px;
}


.articulo h5 {
    color: white;
    font-size: 1.6rem;
    position: relative;
    margin: 12px;
    
}

.articulo h5::after {
    content: "";
    width: 15%;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: -14px;
    background: white;
    border-radius: 10px;
}
  
.articulo p {
    font-size: 2.6rem;
    margin: 1rem;
    padding-top: 3rem;
    color: white;
    padding-left: 1rem;

} 

/*SECTION FESTIVIDADES*/

.festividades h4{
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 20px;
    color: #636363;;

}

.festiEventos{
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tarjeta{
    width: 22.5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 7px;
    margin: 8px;
}

.tarjeta img{
    width: 100%;
}

.tarjeta__texto h3{
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #636363;
}

.citi{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;    
    margin-bottom: 20px;
    color: white;
    
}

.citi--colorPurple{
    background-color: purple;   

}

.citi--colorVerde{
    background-color: #84c131;
}

.citi--colorAzul{
    background-color: #0070BA;
}

.citi--colorAmarillo{
    background-color: #f2b30c;
}

/*INICIO SECTION BENEFICIOS
      USANDO BEM*/

.beneficios{ /*BLOQUE*/
    margin-bottom: 3rem;
    position: relative;
}

.beneficios__banner img{
    width: 100%;
}


.texto__beneficios{ /*ELEMENTO*/
    position: absolute;
    top: 0;
    right: 10%;
    top: 45%;
    transform: translateY(-50%);
    width: 40%;
}

.texto__beneficios h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: inherit;
}

.texto__beneficios p{
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 15px 0;
    font-weight: bold;
}

.texto__beneficios a:hover{
    color: red;
}

.boton{  
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 90px;
    display: inline-block;
}

.btn--azul{/*MODIFICADOR*/
    background-color: #0070BA;
    
}

/*BLOQUE 2
MODIFICANDO BOTON*/
.btn--amarillo{
    background-color: #f2b30c;
}




/*MEDIA QUERIES*/
/*MEDIA QUERIES*/

/*TABLETS CUANDO EL ANCHO MÁXIMO
NO SUPERE LOS 990PX*/

@media (max-width: 990px){

    /*LUGARES MÁS VISITADOS*/
    
    /*OCULTAR ANUNCIO 3*/
    .publicidad :nth-child(3){
        display: none;
    }  
    
    /*INICIO NOTICIAS IMPORTANTES*/
    
    /* GRID TEMPLATE*/
    .datosImportantes{
        grid-template-columns: 2fr 2fr;    
       
    }
    
    .elemento__tres{
        grid-column: 1/4;
        height: 300px;
       
    } 

    .elementoTres--img{
        object-fit: cover;
    }

    /*INICIO SECTION BENEFICIOS*/
    .texto__beneficios{
        right: 5%;
        width: 50%;
    }
    .texto__beneficios h2{
        font-size: 27px;
        padding: 0px 0px;
    }
    
    .texto__beneficios p{
        font-size: 18px;
        margin: 0px 0px;
    }
    
    
    }

    /*TABLETS CUANDO EL ANCHO MÁXIMO
NO SUPERE LOS 799PX*/

@media (max-width: 799px){

   /*SECTIÓN DESTINOS MÁs VISITADOS*/

   .publicidad{
    display: none;
}

.masVisitadosHome{
    width: 100%;
}

.destinosHome article {
width: 50%;}


/*SECTIÓN NOTICIAS IMPORTANTES*/

.articulo p {
font-size: 2.3rem;
padding-top: 1rem;  

}   

.articulo h3 {
margin: 5px;
}

/*SECTION FESTIVIDADES*/
.tarjeta{
    width: 46%;
    margin: 11px;
}

/*SECTION BENEFICIOS*/

.beneficios__banner img{
    height: 200px;
}

.texto__beneficios{
    right: 2%;
    width: 90%; 
    
}

.texto__beneficios p{
    margin: 6px 0px;
    text-shadow: 6px 6px 6px #1a2930;
    }

.boton{
    padding: 8px 40px;
}


}


/*CELULAREES CUANDO EL ANCHO MÁXIMO
NO SUPERE LOS 590PX*/

@media (max-width: 590px){

    /*INICIO TRANSITION IMG
img{
 
    transition: height 2s, width 2s;
}

img:hover{    
    height: 240px;
    width: 320px;
}
/*FIN TRANSITION IMG */

/*DESTINOS MÁS VISITADOS*/
.destinosHome article {
    width: 100%;
}

/*NOTICIAS IMPORATNTES*/

.datosImportantes{
    grid-template-columns: 1fr;  
    grid-template-rows: 1fr 1fr 1fr;  
   
}
.elemento__tres {
    grid-column: 1/1;
    height: auto;
    
}

/*SECTION FESTIVIDADES*/
.tarjeta{
    width: 45%;
    margin: 11px;
}

}

/*CELULARES CUANDO EL ANCHO MÁXIMO
NO SUPERE LOS 572PX*/

@media (max-width: 572px){

    /*SECTIÓN DESTINOS MÁs VISITADOS*/
    .destinosHome figure {
        width: 100%;
    
    }
    
    .datosImportantes{
        grid-template-columns: 1fr;
        
    }

    /*SECTION FESTIVIDADES*/
.tarjeta{
    width: 98.5%;
    margin: 11px;
}
    
    
        
        }







