
/*SECCIÓN INFORMACIÓN DESTINOS*/
.informacionDestinos{
    padding: 0px 10px 0px 10px;
}

.informacionText{
    padding-bottom: 10px;
    text-align: center;
}

.informacionText img{
    width: 100%;
}

