//TÍTULOS
/*TÍTULOS*/
h1{
    color: red;
    text-align: center;
    font-size: 2.4rem;
    padding: 12px 0px 12px 0px;
}

h2{
    color: red;
    text-align: center;
    font-size: 2.3rem;
    padding: 12px 0px 12px 0px;
}

h3{
    color: red;
    text-align: center;
    font-size:1.5rem;
    padding: 12px 0px 12px 0px;
}

h4{
    text-align: center;
    font-size: 1.6rem;
}

h5{
    color: black;
}